body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h3 {
    text-align: center;
}

.about {
    margin: 100px;
    line-height: 18px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 15px;
    margin: 100px;
}

.grid-item {
    overflow: hidden;
}

.grid-item img{
    width: 100%;
    height: auto;
}

.grid-item p {
    margin-top: 20px;
    line-height: 25px;
}