h1{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
}
h2{
    color: black;
    font-size: 1.3rem;
}
form{
    box-sizing: border-box;
    background-color: aliceblue;
    border: 1px dotted black;
    height: 90vh;
    padding: 20px;
}
div{
    margin-top: 30px;
}
input{
    border-radius: 4px;
    width: 90%;
    border: 1px dotted grey;
    height: 2rem;
}
textarea{
    border-radius: 4px;
    width: 90%;
    border: 1px dotted grey;
    height: 2rem;  
}
button{
    border: none;
    background-color: red;
    color: white;
    height: 2.5rem;
    width: 30%;
    border-radius: 4px;
    margin: 30px 20px 30px 20px;
    font-family: 'Franklin Gothic Medium';
}
button:hover{
    background-color: grey;
    cursor: pointer;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}