body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #5b5b78;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    
}

nav ul li a:hover {
    background-color:black;
}

.footer {
    background-color:#5b5b78;
    color: white;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1px;
}
