body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li img{
    width: auto;
    left: auto;
    float: right;
}
li p{
    margin-left: 15px;
}
#maternal{
    align-content: center;
}